<h1>Tecnologias</h1>

<a href="/portfolio/tecnologias/criar/">Criar tecnologia</a>

<ul>
    {% for t in tecnologias %}
        <li>
            <strong>{{ t.nome }}</strong> 
            {% if t.tipo %}
                ({{ t.tipo.nome }})
            {% endif %}
            <br>
            {{ t.descricao }}<br>

            <a href="/portfolio/tecnologias/editar/{{ t.id }}/">Editar</a>
            <a href="/portfolio/tecnologias/apagar/{{ t.id }}/">Apagar</a>
        </li>
    {% endfor %}
</ul>

<a href="/portfolio/">Voltar</a>